<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accessoires Téléphoniques</title>
    <link rel="stylesheet" href="acceuil.component.css">
</head>
<body>

    <section id="yearly-sale" class="bg-light-blue overflow-hidden mt-5 padding-xlarge" style="background-image: url('assets/images/single-image1.png'); background-position: right; background-repeat: no-repeat;">
        <div class="row d-flex flex-wrap align-items-center">
          <div class="col-md-6 col-sm-12">
            <div class="text-content offset-4 padding-medium">
              <h3>10% off</h3>
              <h2 class="display-3 pb-5 text-uppercase text-dark fw-bolder font-monospace">Bienvenue sur notre site d'accessoires téléphoniques</h2>
              <a href="shop.html" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Shop Sale</a>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            
          </div>
        </div>
      </section>

<br>
<section id="coques" class="container mt-4">
    <div class="row">
        <div class="display-header d-flex justify-content-between pb-3">
          <h2 class="display-7 text-dark text-uppercase fst-italic">Coques de Téléphone <span class="badge bg-secondary">New</span></h2>
          <div class="btn-right">
            <a href="#" class="btn btn-medium btn-normal text-uppercase">Voir Plus</a>
          </div>
        </div>
      </div>
      <p>Protégez votre téléphone avec style grâce à nos coques uniques.</p>
      <br>
      
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoHDdNHJ6zBv23Zfe0RN5qZQhcidsIyE8aQg&usqp=CAU.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Coque Élégante</h5>
                    <p class="card-text">Protégez votre téléphone avec cette coque élégante en métal.</p>
                    <a href="#" class="btn btn-primary">Prix : 15DT</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
 <img src="https://m.media-amazon.com/images/I/516f77UHYvL._SR600%2C315_PIWhiteStrip%2CBottomLeft%2C0%2C35_SCLZZZZZZZ_FMpng_BG255%2C255%2C255.jpg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Coque Colorée</h5>
                    <p class="card-text">Exprimez votre personnalité avec cette coque vibrante et colorée.</p>
                    <a href="#" class="btn btn-primary">Prix : 40DT</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/71XXm4yngIL.jpg" class="card-img-top" alt="Coque Design" width="160px" height="300px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Coque Design</h5>
                    <p class="card-text">Ajoutez une touche artistique avec cette coque au design unique.</p>
                    <a href="#" class="btn btn-primary">Prix : 40DT</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuSfYCIBO6azfgYJE8rQJGUTuSHjMzV87e22a3Kkdffd7DMTUpZ8oUl5Y5n1Do5_3sMdk&usqp=CAU class="card-img-top alt="Coque Design" width="160px" height="300px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Coque Transparente</h5>
                    <p class="card-text">"card-text">Mettez en valeur le design de votre téléphone avec cette coque transparente.</p>
                    <a href="#" class="btn btn-primary">Prix : 40DT</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="chargeurs" class="container mt-4">
    <div class="row">
        <div class="display-header d-flex justify-content-between pb-3">
          <h2 class="display-7 text-dark text-uppercase fst-italic">Chargeurs <span class="badge bg-secondary">New</span></h2>
          <div class="btn-right">
            <a href="#" class="btn btn-medium btn-normal text-uppercase">Voir Plus</a>
          </div>
        </div>
      </div>
    <p>Rechargez votre téléphone rapidement et efficacement avec nos chargeurs de haute qualité.</p>    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://lepanierparisian.com/wp-content/uploads/2023/09/Support-de-chargeur-sans-filchargeur-sans-fil-samsungchargeur-sans-filchargeur-sans-fil-iphonelepanierparisianchargeur-iphone-sans-filChargeur-Sans-Fil-Pour-Appareils-Androidchargeur-sans-f-25.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Chargeur Sans Fil</h5>
                    <p class="card-text">Rechargez votre téléphone sans câbles encombrants.</p>
                    <a href="#" class="btn btn-primary">Prix : 30DT</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://tn.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/94/7796/1.jpg?8148.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Chargeur Rapide</h5>
                    <p class="card-text">Obtenez une charge rapide pour votre téléphone.</p>
                    <a href="#" class="btn btn-primary">Prix : 20DT</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://www.cdiscount.com/pdt2/6/4/1/1/300x300/fdi7004101493641/rw/chargeur-usb-avec-interrupteur-chargeur-universel.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Chargeur Universel</h5>
                    <p class="card-text">Compatible avec une variété d'appareils pour une recharge polyvalente.</p>
                    <a href="#" class="btn btn-primary">Prix : 30DT</a>
                </div>
            </div>
        </div>

       
            
       

    </div>
</section>

<section id="ecouteurs" class="container mt-4">
    <div class="row">
        <div class="display-header d-flex justify-content-between pb-3">
          <h2 class="display-7 text-dark text-uppercase fst-italic">Écouteurs <span class="badge bg-secondary">New</span></h2>
          <div class="btn-right">
            <a href="#" class="btn btn-medium btn-normal text-uppercase">Voir Plus</a>
          </div>
        </div>
      </div>
    <p>Écoutez votre musique préférée avec une qualité audio exceptionnelle grâce à nos écouteurs.</p>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-q0K0jyxJpUx6uujIS7p3BTQdBacMedIdwA&usqp=CAU.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Écouteurs Sans Fil</h5>
                    <p class="card-text">Profitez d'une expérience audio sans encombrement avec ces écouteurs sans fil.</p>
                    <a href="#" class="btn btn-primary">Prix : 50DT</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGdAofIKlgQSMnv5PDyZ_rwfZwfADn_wtVAw&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Écouteurs Intra-auriculaires</h5>
                    <p class="card-text">Obtenez un son cristallin avec ces écouteurs conçus pour un ajustement confortable.</p>
                    <a href="#" class="btn btn-primary">Prix : 40DT</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="https://www.cdiscount.com/pdt2/4/6/0/1/700x700/auc8711122060460/rw/ecouteur-bluetooth-sport-ecouteur-sans-fil-blueto.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Écouteurs Sport</h5>
                    <p class="card-text">Obtenez un son cristallin avec ces écouteurs conçus pour un ajustement confortable.</p>
                    <a href="#" class="btn btn-primary">Prix : 40DT</a>
                </div>
            </div>
        </div>

        
        </div>

</section>

</body>
</html>
